langchain
langchain-core
langchain-community
pypdf
pymupdf
ipykernel
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
langchain_community
typesense
langchain_openai
langgraph
streamlit